:root {
  --white: rgba(255, 253, 247, 1);
  --black: rgba(35, 35, 35, 1);
  --warning: rgba(229, 57, 53, 1);
  --succes: rgba(34, 197, 94, 1);
  --primary-100: rgba(87, 91, 0, 1);
  --primaryprimary: rgba(126, 132, 7, 1);
  --primary-80: rgba(166, 173, 26, 1);
  --primary-70: rgba(206, 214, 54, 1);
  --primary-60: rgba(246, 254, 90, 1);
  --primary-50: rgba(248, 255, 119, 1);
  --primary-40: rgba(250, 255, 149, 1);
  --primary-30: rgba(251, 255, 179, 1);
  --primary-20: rgba(253, 255, 209, 1);
  --primary-10: rgba(254, 255, 237, 1);
  --secondary-100: rgba(71, 61, 0, 1);
  --secondary-90: rgba(112, 95, 0, 1);
  --secondary-80: rgba(152, 130, 0, 1);
  --secondary-70: rgba(193, 165, 0, 1);
  --secondarysecondary: rgba(234, 200, 0, 1);
  --secondary-50: rgba(255, 224, 46, 1);
  --secondary-40: rgba(255, 231, 92, 1);
  --secondary-30: rgba(255, 238, 138, 1);
  --secondary-20: rgba(255, 244, 183, 1);
  --secondary-10: rgba(255, 251, 229, 1);
  --ctacta: rgba(37, 78, 6, 1);
  --cta-90: rgba(64, 119, 23, 1);
  --cta-80: rgba(96, 160, 48, 1);
  --cta-70: rgba(134, 200, 83, 1);
  --cta-60: rgba(177, 241, 128, 1);
  --cta-50: rgba(199, 255, 156, 1);
  --cta-40: rgba(211, 255, 178, 1);
  --cta-30: rgba(223, 255, 200, 1);
  --cta-20: rgba(236, 255, 221, 1);
  --cta-10: rgba(248, 255, 243, 1);
  --7-2px-font-family: "Inter", Helvetica;
  --7-2px-font-weight: 400;
  --7-2px-font-size: 12px;
  --7-2px-letter-spacing: 0px;
  --7-2px-line-height: normal;
  --7-2px-font-style: normal;
  --type-57-font-family: "Plus Jakarta Sans", Helvetica;
  --type-57-font-weight: 400;
  --type-57-font-size: 58px;
  --type-57-letter-spacing: 0px;
  --type-57-line-height: 120.00000476837158%;
  --type-57-font-style: normal;
  --type-46-font-family: "Plus Jakarta Sans", Helvetica;
  --type-46-font-weight: 400;
  --type-46-font-size: 48px;
  --type-46-letter-spacing: 0px;
  --type-46-line-height: 120.00000476837158%;
  --type-46-font-style: normal;
  --type-37-font-family: "Plus Jakarta Sans", Helvetica;
  --type-37-font-weight: 400;
  --type-37-font-size: 38px;
  --type-37-letter-spacing: 0px;
  --type-37-line-height: 120.00000476837158%;
  --type-37-font-style: normal;
  --type-29-font-family: "Plus Jakarta Sans", Helvetica;
  --type-29-font-weight: 400;
  --type-29-font-size: 32px;
  --type-29-letter-spacing: 0px;
  --type-29-line-height: 120.00000476837158%;
  --type-29-font-style: normal;
  --type-23-font-family: "Plus Jakarta Sans", Helvetica;
  --type-23-font-weight: 400;
  --type-23-font-size: 24px;
  --type-23-letter-spacing: 0px;
  --type-23-line-height: 120.00000476837158%;
  --type-23-font-style: normal;
  --type-19-font-family: "Plus Jakarta Sans", Helvetica;
  --type-19-font-weight: 400;
  --type-19-font-size: 20px;
  --type-19-letter-spacing: 0px;
  --type-19-line-height: 120.00000476837158%;
  --type-19-font-style: normal;
  --type-15-font-family: "Plus Jakarta Sans", Helvetica;
  --type-15-font-weight: 400;
  --type-15-font-size: 16px;
  --type-15-letter-spacing: 0px;
  --type-15-line-height: 120.00000476837158%;
  --type-15-font-style: normal;
  --type-12-font-family: "Plus Jakarta Sans", Helvetica;
  --type-12-font-weight: 400;
  --type-12-font-size: 12px;
  --type-12-letter-spacing: 0px;
  --type-12-line-height: 120.00000476837158%;
  --type-12-font-style: normal;
  --m3-title-medium-emphasized-font-family: "Roboto", Helvetica;
  --m3-title-medium-emphasized-font-weight: 600;
  --m3-title-medium-emphasized-font-size: 16px;
  --m3-title-medium-emphasized-letter-spacing: 0.15000000596046448px;
  --m3-title-medium-emphasized-line-height: 24px;
  --m3-title-medium-emphasized-font-style: normal;
}
