<nav class="w-full bg-[#E3C800] border-b border-[#d4bc00] sticky top-0 z-50">

  <div class="max-w-[1440px] mx-auto px-8 py-5 flex items-center justify-between gap-8">

    <!-- LOGO -->
    <div class="flex items-center gap-3 shrink-0">

      <!-- ICON -->
      <div class="w-[56px] h-[56px] rounded-2xl flex items-center justify-center">

        <img 
          src="logo.png"
          class="w-full h-full object-contain"
        />

      </div>

      <!-- TEXT -->
      <img
        src="tekslogo.png"
        class="h-10 object-contain"
      />

    </div>

    <!-- SEARCH -->
    <div class="flex-1 flex justify-center">

      <div class="w-full max-w-[450px] h-[48px] bg-[#E4E1DB] rounded-full border border-[#8D8D8D] flex items-center pl-5 pr-1">

        <!-- INPUT -->
        <input
          type="text"
          placeholder="Search"
          class="flex-1 bg-transparent outline-none text-sm text-[#4A4A4A] placeholder:text-[#9B9B9B]"
        />

        <!-- BUTTON -->
        <button class="bg-[#2E5A09] hover:bg-[#244807] transition-all text-white text-sm font-medium px-8 h-[40px] rounded-full">
          Search
        </button>

      </div>

    </div>

    <!-- ACTION -->
    <div class="flex items-center gap-5 shrink-0">

      <!-- BOX ICON -->
      <button class="w-[44px] h-[44px] rounded-full bg-[#2E5A09] flex items-center justify-center hover:scale-105 transition">

        <i data-lucide="package-2" class="w-5 h-5 text-white"></i>

      </button>

      <!-- NOTIFICATION -->
      <button class="w-[44px] h-[44px] rounded-full bg-[#2E5A09] flex items-center justify-center hover:scale-105 transition">

        <i data-lucide="shopping-cart" class="w-5 h-5 text-white"></i>

      </button>

      <!-- LOGIN -->
      <button class="h-[44px] px-8 rounded-xl border border-[#7A9660] bg-[#E7ECD8] text-[#4E7B2B] font-medium hover:bg-[#dfe7ca] transition">
        Masuk
      </button>

      <!-- REGISTER -->
      <button class="h-[44px] px-8 rounded-xl bg-[#2E5A09] text-white font-medium hover:bg-[#244807] transition">
        Daftar
      </button>

    </div>

  </div>

</nav>

<script src="https://unpkg.com/lucide@latest"></script>

<script>
  lucide.createIcons();
</script>